/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    background-color: #FF5733;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FF5733;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product img {
    max-width: 40%;
    display: flex;
    align-items: center;
    max-height: 80px;
    cursor:pointer;
    justify-content: center;
    /* max-width: 7px; */
}

.product h3 {
    font-size: 15px;
    margin: 10px 0;
}

.product p {
    font-size: 18px;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #D94A27;
}

.cart {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: sticky;
    top: 100px;
}

.cart h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    font-size: 18px;
    margin: 5px 0;
}

.cart-total {
    font-size: 20px;
    margin-top: 20px;
}

.clear-cart {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.clear-cart:hover {
    background-color: #555;
}

.products{
    display: flex;
    justify-content: center;
    width:100vw;
    gap:10px;
    flex-wrap: wrap;
}



/* CSS for the modal */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
